<div class="navbar">
    <div class="width-wrapper">

        <div class="logo-side">
            <h3 class="beige-text">PO</h3>
            <h3 class="yellow-text">TEA</h3>
        </div>
    <nav class="menu">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/products">Products</a>
            <a class="nav-link" href="#">Contact</a>
        </nav> 
        <div class="icons">
            <mat-icon class="material-symbols-outlined">
                person
                </mat-icon>
            <mat-icon class="material-symbols-outlined">
                shopping_cart
            </mat-icon>
        </div>
    </div>
</div>
